*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to left,rgb(20, 247, 20)30%,rgb(229, 255, 0));
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.ingredientes{
    padding: 1.5rem;    
    width: 5.5rem;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: chartreuse;

}
.ingredientes img{
    height: 4rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    
}
.ingredientes p{
    margin-top: 5px;
    text-align: center;
}
#conteiner-ingredientes{
    display: flex;
    margin-left: 5px;
    overflow-x: auto;
}
#menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-radius: 0px 0px 50px 0px;
}
#menu li{
    list-style: none;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(245, 41, 41);
    
}

#op a{
    margin-right: 30px;
}
